/*

CSS Style Sheet

*/

/* image configurations */

* {
    margin: 0;
}

#peackock {
    height: 1000px;
    width: 1000px;
}

h1 {
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

p {
    background-image: url(https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

div {
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}